<h1>検索フォーム</h1>
<form action="/search" method="post">
  <input type="text" name="keyword" placeholder="アーティスト名">
  <input type="submit" value="検索">
</form>
<h2>検索結果</h2>
<div>
  <% if !@musics.empty? %>
    <div>
    <% @musics.each do |music| %>
      <div>
        <img src="<%= music["artworkUrl100"] %>">
        <div>
          <p><%= music["artistName"] %></p>
          <p><%= music["collectionName"] %></p>
          <p><%= music["trackName"] %></p>
          <a href="<%= music["previewUrl"] %>">サンプル</a>
        </div>
      </div>
    <% end %>
    </div>
    <% else %>
      検索結果がありません
  <% end %>
</div>
