<h1><%= current_user.name %>の投稿</h1>
  <div>
  <% if !@postmusics.nil? %>
    <% @postmusics.each do |postmusic| %>
    <div>
      <p><img src="<%= postmusic.img %>" alt="アルバム写真"></p>
      <p><%= postmusic.artistName %></p>
      <p><%= postmusic.collectionName %></p>
      <p><%= postmusic.trackName %></p>
      <p><a href="<%= postmusic.preView %>">サンプル</a></p>
      <P><%= CGI.escapeHTML(postmusic.comments) %></p>
      <form action="/postmusics/<%= postmusic.id %>/delete" method="post">
        <input type="submit" value="削除">
      </form>
      <a href="/postmusics/<%= postmusic.id %>/edit">編集</a>
    </div>
    <% end %>
  <% else %>
    <p>投稿はありません</p>
  <% end %>
  </div>